@model MusicManagement.Application.Contracts.ViewModels.BandViewModels.EditBandViewModel
@inject MusicManagement.Application.Contracts.Contracts.ICategoryApplication category

@{ 
    var selectList = new SelectList(category.Categories(),"Key","Value");
}

<div class="modal-header">
    <h4 class="title" id="largeModalLabel">ویرایش بند : @Model.Name</h4>
</div>

<form asp-page="./Index" asp-page-handler="EditBand" method="post" data-ajax="true" data-callback="" data-action="Refresh" enctype="multipart/form-data">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">نام بند</label>
                    <input type="text" id="text" onchange="FillSlug()" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            @*<div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Slug" class="control-label">اسلاگ</label>
                    <input type="text" id="slug" class="form-control" asp-for="Slug">
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
            </div>*@
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="BandCategoryId" class="control-label">گروه</label>
                    <select class="form-control" asp-for="BandCategoryId" asp-items="selectList">
                        <option value="0">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="BandCategoryId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <input type="hidden" asp-for="Id" value="@Model.Id" />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-warning waves-effect waves-light">ویرایش</button>
    </div>
</form>