@using MusicManagement.Application.Contracts.Contracts
@model MusicManagement.Application.Contracts.ViewModels.AlbumViewModels.CreateAlbumViewModel

@*@inject IBandApplication BandApplication*@
@inject ICategoryApplication CategoryApplication

@{
    var categories = new SelectList(CategoryApplication.Categories(), "Key", "Value");
    //var bands = new SelectList(BandApplication.Bands(), "Key", "Value");
}

<div class="modal-header">
    <h4 class="title" id="largeModalLabel">ایجاد آلبوم جدید</h4>
</div>

<form asp-page="./Index" asp-page-handler="CreateAlbum" method="post" data-ajax="true" data-callback="" data-action="Refresh" enctype="multipart/form-data">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">نام آلبوم</label>
                    <input type="text" id="text" onchange="FillSlug()" class="form-control" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Slug" class="control-label">اسلاگ</label>
                    <input type="text" id="slug" class="form-control" asp-for="Slug">
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">ژانر</label>
                    <select class="form-control" asp-for="CategoryId" asp-items="categories">
                        <option value="0">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ReleasedDate" class="control-label">تاریخ انتشار</label>
                    <input type="date" class="form-control" asp-for="ReleasedDate">
                    <span asp-validation-for="ReleasedDate" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Picture" class="control-label">عکس</label>
                    <input type="file" class="dropify" asp-for="Picture" id="input-file" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
        </div>

        <input type="hidden" asp-for="BandId" value="@Model.BandId" />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-primary waves-effect waves-light">ایجاد</button>
    </div>
</form>