<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>@ViewData["Title"] | RebelRiffs</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <link rel="stylesheet" href="~/AdminTheme/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Custom Css -->
    @await RenderSectionAsync("Css", false)
    <link rel="stylesheet" href="~/AdminTheme/assets/css/style.min.css">
    </head>

<body class="theme-blush">

    <!-- Main Search -->
    <div id="search">
        <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
        <form>
            <input type="search" value="" placeholder="جستجو..." />
            <button type="submit" class="btn btn-primary">جستجو</button>
        </form>
    </div>


    <!-- Left Sidebar -->
    @await Component.InvokeAsync(typeof(ServiceHost.Areas.AdminPanel.ViewComponents.LeftSidebar))


    <!-- Main Content -->
    <section class="content">
        <div class="">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h2>@ViewData["Title"]</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/AdminPanel"><i class="zmdi zmdi-home"></i> پنل ادمین</a></li>
                            <li class="breadcrumb-item active">@ViewData["Title"]</li>
                        </ul>
                        <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </section>

    <div class="modal fade" id="MainModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="ModalContent">
            </div>
        </div>
    </div>

    <script src="~/AdminTheme/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/AdminTheme/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/AdminTheme/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        function FillSlug() {
            // Get the input text and display element
            const inputText = document.getElementById("text");
            const display = document.getElementById("slug");

            display.value = inputText.value;
        }
    </script>

    @await RenderSectionAsync("Script", false)
</body>

</html>