@model MusicManagement.Application.Contracts.ViewModels.BandViewModels.CreateBandViewModel
@inject MusicManagement.Application.Contracts.Contracts.ICategoryApplication category

@{ 
    var selectList = new SelectList(category.Categories(),"Key","Value");
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Band</h4>
            <form class="forms-sample" method="post" asp-page-handler="CreateBand"
                  asp-page="./Bands">
                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="text" onchange="FillSlug()" class="form-control" asp-for="Name"
                               placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Slug" class="col-sm-3 col-form-label">Slug</label>
                    <div class="col-sm-9">
                        <input type="text" id="slug" class="form-control"
                               asp-for="Slug"
                               placeholder="Slug">
                    </div>
                </div>

                <div class="form-group row">
                    <label>Categories</label>
                    <select class="form-select bg-info w-25"
                            asp-items="@selectList" asp-for="BandCategoryId">
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mr-2">
                    Add
                </button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>

