@page
@model ServiceHost.Areas.AdminPanel.Pages.IndexModel
@{
    ViewData["Title"] = "داشبورد";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2><strong><i class="zmdi zmdi-chart"></i> گزارش</strong></h2>
                </div>
            </div>
        </div>
    </div>
</div>